html, body {
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    --color-bg-default: #0a0a0f;
    --color-shadow: 12,13,18;
    --color-light: 255, 255, 255;
    background-color: var(--color-bg-default);
    font-family: Raleway;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

h1{
    color: #ff6666;
}

.drumkit-buttons {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

    .drumkit-buttons button {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 18px;
        font-family: Raleway;
        color: #ff6666;
        border: none;
        border-radius: 14px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-size: 100px;
        text-transform: uppercase;
    }

        .drumkit-buttons button span {
            position: absolute;
            width: 90%;
            height: 90%;
            z-index: -1;
            border-radius: 50%;
        }

        .drumkit-buttons button.playing {
            -webkit-box-shadow: 0px 45px 37px -28px rgba(255, 102, 102, 1);
            -moz-box-shadow: 0px 45px 37px -28px rgba(255, 102, 102, 1);
            box-shadow: 0px 45px 37px -28px rgba(255, 102, 102, 1);
        }

        .drumkit-buttons button:nth-of-type(5) {
            margin-left: 80px;
        }

        .drumkit-buttons button:nth-of-type(9) {
            margin-left: 160px;
        }

.channels {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.channelDiv {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.recordButton, .playButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: none;
    border: 0;
    position: relative;
    outline: 0;
    flex-shrink: 0;
}

    .recordButton::after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #c52424;
        left: calc(50% - 6px);
        top: calc(50% - 6px);
    }

    .playButton::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 16px solid #c52424;
        border-bottom: 8px solid transparent;
        left: calc(50% - 6px);
        top: calc(50% - 7px);
    }

    .playButton[disabled], .recordButton[disabled] {
        box-shadow: none;
        background: #dadce0;
    }

        .playButton[disabled]::after {
            border-left: 16px solid grey;
        }

        .recordButton[disabled]::after {
            background: grey;
        }

    .playButton.stopButton::after {
        border: 7px solid #c52424;
    }

.progressBar {
    width: 100%;
    height: 10px;
    background: white;
    border-radius: 10px;
    position: relative;
}

    .progressBar span {
        position: absolute;
        height: 4px;
        background: #27bfc6;
        top: 3px;
        left: 5px;
        right: 5px;
        transform-origin: left;
        transform: scaleX(0);
    }

.timeMoment {
    position: absolute;
    height: 100%;
    top: 0;
    width: 2px;
    background: #49abff;
}

@keyframes progressBarAnim {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}
