.note {
    width: 15%;
    min-width: 200px;
    height: 284px;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 27px;
    margin-bottom: 20px;
    position: relative;

    .noteDrag {
        height: 25px;
        width: 100%;
        background-color: #727272;
        position: relative;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: center;

        span {
            font-size: 10px;
        }
    }
}

.noteInnerWrapper {
    width: 100%;
    height: 78%;
    display: flex;
    position: relative;
    flex-direction: row;

    .noteCloseButton {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: auto;
        order: 2;
        background-color: #ff6666;
        color: #0a0a0f;
        font-weight: bold;
        border: 1px solid black;
    }

    .noteTitle {
        position: relative;
        width: 80%;
        display: flex;
        align-items: center;
        height: 30px;
        padding-left: 5px;
        font-weight: bold;
        font-size: 24px;
    }
}

.noteTextArea {
    width: 98%;
    margin-top: 30px;
    position: absolute;
    resize: none;
    background-color: inherit;
    font-size: 20px;
    border: none;
    height: 84%;
}

#noteButtonsDiv {
    width: 100%;
    height: 37px;
    display: flex;

    .noteButtons {
        font-weight: bold;
        width: 50%;
        height: 100%;
        background-color: gray;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pinNote {
        height: 35px;
    }
}

.changeColorDiv {
    background-color: white;
    width: 200px;
    height: 150px;
    top: 35%;
    left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid black;
    z-index: 2;

    .colorDiv {
        width: 32%;
        height: 50%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.colorCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid black;
}
